html {
  scroll-behavior: smooth;
}

.icon__contacts {
  margin-top: 10px;
}

.bold__descr {
  font-weight: bold;
}

.italic__descr {
  font-style: italic;
}

li {
  text-transform: uppercase;
}

p {
  font-family: Oswald, sans-serif;
  font-size: 1rem;
}

a:link {
  text-decoration: none;
  color: rgb(238, 96, 96);
}

a:hover {
  text-decoration: underline;
  color: #fea501;
}
