.menu li {
  display: inline;
  list-style: none;
  padding-right: 15px;
  font-size: 1rem;
}

.name__color {
  color: #fea501;
}

.me__color {
  color: #151812;
}

.description__me {
  background-image: url("img/it.jpg");
  color: aliceblue;
}

p {
  font-family: Oswald, sans-serif;
  font-size: 1rem;
}

a:link {
  text-decoration: none;
  color: rgb(238, 96, 96);
}

a:hover {
  text-decoration: underline;
  color: #fea501;
}

.projects {
  margin-bottom: 0;
  display: inline-block;
}

.uber__site {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.uber__site:hover {
  border: 3px solid #fea501;
  cursor: pointer;
}

.project__item {
  padding: 10px;
  margin: 0 auto;
  border: 2px solid black;
  margin-top: 5px;
}

.reviews {
  font-size: 1.125rem;
}

.footer {
  background: linear-gradient(#fea501, #151812);
  opacity: 0.95;
  height: 100px;
}
